.form-header {
  width: 57%;
  padding: 47px 150px 65px 150px;
  background-color: #f9f9f9;

  .header {
    display: flex;
    justify-content: space-between;
  }
  hr {
    margin-top: 12px;
    margin-bottom: 77px;
  }
}
