.person-form {
  width: 1920px;
  height: 1080px;
  display: flex;

  .form {
    width: 57%;
    background-color: #f9f9f9;
    padding: 47px 150px 65px 150px;

    .name-surname {
      display: flex;
      justify-content: space-between;
    }
  }

  .resume {
    width: 43%;
  }
}
