.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  hr {
    position: absolute;
    width: 92%;
    top: 89px;
    left: 70px;
    z-index: 1;
  }

  .background-img {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
  }

  .seal-img {
    position: absolute;
    top: 43%;
    right: 30%;
    z-index: 1;
  }

  .redberry-img {
    position: absolute;
    top: 25px;
    left: 70px;
    z-index: 1;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 464px;
    height: 60px;
    background-color: #1a1a1a;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
  }
}
