$header-color: #f93b1d;

.pdf-button {
  padding: 5px;
  width: 130px;
  height: 50px;
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  z-index: 10;
  background-color: $header-color;
  border-radius: 10px;

  &:hover {
    background-color: #cd432e;
  }
}

.resume {
  position: relative;
  min-width: 822px;
  min-height: 1080px;
  width: 822px;
  height: 1080px;
  padding: 48px 75px 48px 80px;
  background-color: white;
  overflow-wrap: anyWhere;
  overflow-y: auto;

  .person {
    display: flex;
    justify-content: space-between;

    .info {
      width: 424px;
      overflow-wrap: anywhere;

      .name-surname {
        color: $header-color;
        font-size: 34px;
        margin-bottom: 17px;
      }
      .email-container {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-bottom: 13px;

        .email {
          font-size: 18px;
          line-height: 21px;
        }
      }
      .phone-container {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-bottom: 35px;

        .phone {
          font-size: 18px;
        }
      }

      .about-me-container {
        .title {
          color: $header-color;
          margin-bottom: 15px;
        }
        .about-me {
          font-weight: 400;
          line-height: 22px;
          margin-bottom: 20px;
        }
      }
    }

    .person-img {
      width: 246px;
      height: 246px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 47px;
      object-fit: contain;
    }
  }

  .experience {
    .title {
      color: $header-color;
      margin-bottom: 15px;
    }
    .position-employer {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #1a1a1a;
      margin-bottom: 7px;
    }
    .dates {
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: 19px;
      color: #909090;
      margin-bottom: 16px;
    }
    .description {
      line-height: 22px;
      margin-bottom: 40px;
    }
  }

  .education {
    .title {
      color: $header-color;
      margin-bottom: 15px;
    }
    .institute-degree {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #1a1a1a;
      margin-bottom: 7px;
    }
    .date {
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: 19px;
      color: #909090;
      margin-bottom: 16px;
    }
    .description {
      line-height: 22px;
      margin-bottom: 40px;
    }
  }

  .logo {
    position: absolute;
    height: 42px;
    width: 42px;
    left: 78px;
    top: 994px;
    border-radius: 0px;
  }

  hr {
    border: 1px solid #c8c8c8;
    margin-bottom: 24px;
  }
}
