.reset-button {
  height: 40px;
  width: 40px;
  left: 48px;
  top: 45px;
  border-radius: 50%;
  text-decoration: none;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
