@font-face {
  font-family: 'HelveticaNeue';
  src: url(./assets/fonts/HelveticaNeue.ttc);
}

* {
  font-family: 'HelveticaNeue';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #f9f9f9;
}
